<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.achanr.glovercolorapp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".utility.GloverColorApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activities.GCBaseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.GCSavedSetListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_your_saved_sets"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.GCWelcomeScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GCEnterCodeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_enter_code"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.GCEditSavedSetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_edit_set"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activities.GCSettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_settings"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
