<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.achanr.glovercolorapp"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".application.GloverColorApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activities.GCSavedSetListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_your_saved_sets"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.GCHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.GCEnterCodeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_enter_code"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/filter_enter_code">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="entercode"
                    android:scheme="glovercolorapp"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.GCCollectionsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_collections"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.GCEditSavedSetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_edit_set"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.activities.GCEditCollectionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_edit_collection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ui.activities.GCSettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_settings"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.GCVersionInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_version_info"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.GCSyncConflictActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_sync_conflicts"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.GCDiscoverActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_discover"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.GCUploadSetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_upload_set"
            android:screenOrientation="portrait">
        </activity>

        <!-- Meant to be exposed -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1503a3d7f3a5b932fe52076333b3746997624419"
            tools:replace="android:value"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="${facebookAppId}"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1616332021995948"
            android:exported="true"/>
    </application>
</manifest>
